In [1]:
import pandas as pd
pd.set_option('display.max_columns', None)

In [12]:
df_atp_matches = pd.read_csv('../atp_matches_2001.csv')
df_atp_matches.info()
df_atp_matches.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3307 entries, 0 to 3306
Data columns (total 49 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   tourney_id          3307 non-null   object
 1   tourney_name        3307 non-null   object
 2   surface             3307 non-null   object
 3   draw_size           3307 non-null   int64
 4   tourney_level       3307 non-null   object
 5   tourney_date        3307 non-null   int64
 6   match_num           3307 non-null   int64
 7   winner_id           3307 non-null   int64
 8   winner_seed         1230 non-null   float64
 9   winner_entry        430 non-null    object
 10  winner_name         3307 non-null   object
 11  winner_hand         3307 non-null   object
 12  winner_ht           3223 non-null   float64
 13  winner_ioc          3307 non-null   object
 14  winner_age          3307 non-null   float64
 15  loser_id            3307 non-null   int64
 16  loser_seed          702 non-null    float64
 17  loser_entry         625 non-null    object
 18  loser_name          3307 non-null   object
 19  loser_hand          3307 non-null   object
 20  loser_ht            3125 non-null   float64
 21  loser_ioc           3307 non-null   object
 22  loser_age           3307 non-null   float64
 23  score               3307 non-null   object
 24  best_of             3307 non-null   int64
 25  round               3307 non-null   object
 26  minutes             2969 non-null   float64
 27  w_ace               2969 non-null   float64
 28  w_df                2969 non-null   float64
 29  w_svpt              2969 non-null   float64
 30  w_1stIn             2969 non-null   float64
 31  w_1stWon            2969 non-null   float64
 32  w_2ndWon            2969 non-null   float64
 33  w_SvGms             2969 non-null   float64
 34  w_bpSaved           2969 non-null   float64
 35  w_bpFaced           2969 non-null   float64
 36  l_ace               2969 non-null   float64
 37  l_df                2969 non-null   float64
 38  l_svpt              2969 non-null   float64
 39  l_1stIn             2969 non-null   float64
 40  l_1stWon            2969 non-null   float64
 41  l_2ndWon            2969 non-null   float64
 42  l_SvGms             2969 non-null   float64
 43  l_bpSaved           2969 non-null   float64
 44  l_bpFaced           2969 non-null   float64
 45  winner_rank         3263 non-null   float64
 46  winner_rank_points  3263 non-null   float64
 47  loser_rank          3214 non-null   float64
 48  loser_rank_points   3214 non-null   float64
dtypes: float64(29), int64(6), object(14)
memory usage: 1.2+ MB

,tourney_id,tourney_name,surface,draw_size,tourney_level,tourney_date,match_num,winner_id,winner_seed,winner_entry,winner_name,winner_hand,winner_ht,winner_ioc,winner_age,loser_id,loser_seed,loser_entry,loser_name,loser_hand,loser_ht,loser_ioc,loser_age,score,best_of,round,minutes,w_ace,w_df,w_svpt,w_1stIn,w_1stWon,w_2ndWon,w_SvGms,w_bpSaved,w_bpFaced,l_ace,l_df,l_svpt,l_1stIn,l_1stWon,l_2ndWon,l_SvGms,l_bpSaved,l_bpFaced,winner_rank,winner_rank_points,loser_rank,loser_rank_points
0,2001-301,Auckland,Hard,32,A,20010108,1,102905,NaN,NaN,Stefan Koubek,L,175.0,AUT,24.0,102644,1.0,NaN,Franco Squillari,L,183.0,ARG,25.3,7-6(4) 6-2,3,R32,84.0,5.0,2.0,93.0,58.0,38.0,17.0,10.0,14.0,16.0,5.0,5.0,66.0,31.0,19.0,15.0,10.0,4.0,8.0,52.0,755.0,14.0,1598.0
1,2001-301,Auckland,Hard,32,A,20010108,2,102231,NaN,NaN,Alex Calatrava,R,190.0,ESP,27.5,102860,NaN,NaN,Agustin Calleri,R,183.0,ARG,24.3,6-3 1-6 6-3,3,R32,78.0,6.0,2.0,74.0,47.0,36.0,14.0,13.0,0.0,2.0,14.0,3.0,63.0,37.0,33.0,11.0,12.0,1.0,3.0,53.0,751.0,64.0,633.0
2,2001-301,Auckland,Hard,32,A,20010108,3,102257,NaN,WC,Greg Rusedski,L,193.0,GBR,27.3,103066,NaN,WC,Mark Nielsen,R,185.0,NZL,23.2,6-4 6-4,3,R32,87.0,15.0,5.0,64.0,36.0,29.0,17.0,10.0,4.0,4.0,1.0,5.0,72.0,45.0,31.0,12.0,10.0,4.0,6.0,73.0,575.0,260.0,129.0
3,2001-301,Auckland,Hard,32,A,20010108,4,101647,5.0,NaN,Byron Black,R,175.0,ZIM,31.2,102287,NaN,NaN,Albert Portas,R,188.0,ESP,27.1,2-6 6-2 6-4,3,R32,81.0,1.0,1.0,72.0,52.0,34.0,11.0,13.0,2.0,5.0,15.0,0.0,69.0,35.0,31.0,11.0,13.0,3.0,7.0,35.0,965.0,49.0,760.0
4,2001-301,Auckland,Hard,32,A,20010108,5,102998,3.0,NaN,Jan Michael Gambill,R,190.0,USA,23.6,103454,NaN,NaN,Nicolas Massu,R,183.0,CHI,21.2,7-6(4) 6-4,3,R32,103.0,15.0,5.0,67.0,33.0,27.0,14.0,11.0,1.0,4.0,8.0,6.0,81.0,40.0,27.0,15.0,11.0,5.0,9.0,33.0,1030.0,67.0,601.0